<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Resources List</h2>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Resources</th>
    </tr>
    <tr th:each="library : ${libraries}">
        <td th:text="${library.getName()}"></td>
        <td th:text="${library.getResources()}"></td>
    </tr>
</table>
</body>
</html>