<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h2>Resources List</h2>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Language</th>
        </tr>
        <tr th:each="resource : ${resources}">
            <td th:text="${resource.getResourceName()}"></td>
            <td th:text="${resource.getResourceURL()}"></td>
            <td th:text="${resource.getLanguages()}"></td>
        </tr>
    </table>
</body>
</html>